[Unit]
Description=Heketi Server
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/var/lib/heketi
EnvironmentFile=-/etc/heketi/heketi.env
User=pi
ExecStart=sudo /usr/bin/heketi --config=/etc/heketi/heketi.json --disable-auth=true
Restart=on-failure
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target